In [1]:
age=20
print(type(age))
print(age)

<class 'int'>
20

In [2]:
sal=53000.00
print(type(sal))
print(sal)

<class 'float'>
53000.0

In [3]:
var="Hello"
print(type(var))
print(var)

<class 'str'>
Hello

In [5]:
s='hello im poojitha'
print(type(var))
print(s)

<class 'str'>
hello im poojitha

In [11]:
sen='''hello im
reporter sam,i "want" to catch a news
,so i can telecast tomorrow.'''
print(sen)

hello im
reporter sam,i "want" to catch a news
,so i can telecast tomorrow.

In [1]:
st="hero"
print(st)

hero

In [4]:
st='hero'
v=st[1]
print(v)
print(st[0])
print(st[-1])

e
h
o

In [5]:
st="im a developer"
print(st[2])
print(st[-1])
print(st[0])

r
i

In [6]:
st="dinga"
st="rani"
print(st)

rani

In [7]:
st="aaabbbccc"
print(st)

aaabbbccc

In [8]:
st="aaaabbbb"
print(type(st))
print(st)

<class 'str'>
aaaabbbb

In [9]:
l=[1,2,3,5,5,6]
print(type(l))
print(l)

<class 'list'>
[1, 2, 3, 5, 5, 6]

In [11]:
l=[1,2,3]
print(l[0])
print(l[1])
print(l[2])

1
2
3

In [2]:
l=[1,2,3,"raja"]
print(l[0])
print(l[-1])
print(l[3][0])

1
raja
r

In [6]:
l1=[50,-250,"tiger","dream big","coding"]
print(l1[0])
print(l1[2])
print(l1[-1])
print(l1[3][4])
print(l1[4][4])
print(l1[4][2])

50
tiger
coding
m
n
d

In [1]:
l=[["jack","jones"],'donkey']
print(l[0],[0])
print(l[0],[1])
print(l[0],[1],[2])

['jack', 'jones'] [0]
['jack', 'jones'] [1]
['jack', 'jones'] [1] [2]