In [2]:
#converting int data into other types
a=50
print(type(a))
b=float(a)
print(b)
print(float(a))
print(complex(a))
print(bool(a))
print(str(a))
print(str(a)[0])
print(list(a))
print(tuple(a))
print(dict(a))

<class 'int'>
50.0
50.0
(50+0j)
True
50
5

TypeError: 'int' object is not iterable

In [4]:
#converting float into other types
f=10.2
print(int(f))
print(complex(f))
print(bool(f))
print(str(f))
print(str(f)[2])
print(list(f))
print(tuple(f))
print(set(f))
print(dict(a))

10
(10.2+0j)
True
10.2
.

TypeError: 'float' object is not iterable

In [9]:
#converting complex into other datatypes
c=10+2j
print(c)
#print(int(c))
#print(float(c))
print(bool(c))
print(bool(0j))
print(str(c))
print(str(c)[0])
print(str(c)[-1])
print(list(c))

(10+2j)
True
False
(10+2j)
(
)

TypeError: 'complex' object is not iterable

In [10]:
#converting bool into other datatypes
b=True
print(int(b))
print(float(b))
print(complex(b))
print(str(b))
print(list(b))

1
1.0
(1+0j)
True

TypeError: 'bool' object is not iterable

In [12]:
#converting string into other datatypes
st="123"
print(int(st))

123

In [14]:
st1="123"
st2="321"
print(float(st1))
print(float(st2))

123.0
321.0

In [17]:
st1="123.20"
st2="321"
st3="1+2j"
print(complex(st1))
print(complex(st2))
print(complex(st3))

(123.2+0j)
(321+0j)
(1+2j)

In [18]:
st=""
print(bool(st))
st1="rr11"
print(bool(st1))

False
True

In [19]:
st="raja"
print(list(st))
print(tuple(st))
print(set(st))
print(dict(st))

['r', 'a', 'j', 'a']
('r', 'a', 'j', 'a')
{'j', 'r', 'a'}

ValueError: dictionary update sequence element #0 has length 1; 2 is required

In [31]:
#converting list into other datatypes
l=[1,2,3]
print(str(l))
print(str(l)[3])
print(str(l)[2])

l=[1,2,2,44,5]
print(tuple(l))
print(tuple(l)[3])

l=[1,2,2,1,33,4,56,6]
print(set(l))

[1, 2, 3]

,
(1, 2, 2, 44, 5)
44
{1, 2, 33, 4, 6, 56}

In [33]:
l1=[1,2,3]
print(dict(l1))

TypeError: cannot convert dictionary update sequence element #0 to a sequence

In [34]:
l=["name","raj"],["age",21],["cars",["audi","bmw"]]
print(dict(l))

{'name': 'raj', 'age': 21, 'cars': ['audi', 'bmw']}